<div class="container-fluid">
    <div class="fullscreen">
        <div class="index-elements">
            <h1>Reserva tus partidos de padel</h1>
            <a href="/iniciar-sesion" class="btn btn-dark mt-4">Iniciar sesión</a>
            <a href="/registro" class="btn btn-dark mt-4">Registrarse</a>
        </div>
    </div>
</div>